// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html,
body {
    font-size: 12px;
    font-family: Celias !important;

    @media only screen and (min-width: 1025px) {
        font-size: 14px;
    }
}

button,
select,
html,
textarea,
input {
    font-family: Celias;
}
