// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Toastr component.
// -----------------------------------------------------------------------------

.success-toastr {
    background-color: #e6fff1;
    background-position: 16px 14px;
    background-size: 19px;
    border: 1px solid #4dd488;
    opacity: 1;
    width: 350px;
}

.success-toastr-title {
    color: #35d079;
    font-weight: 500;
    font-size: 14px;
}

.success-toastr-message {
    color: #555;
    font-size: 13px;
    margin-left: -32px;
    margin-top: 10px;
}

.error-toastr {
    background-color: #fff0ee;
    background-position: 16px 14px;
    background-size: 19px;
    border: 1px solid #fa9b8d;
    opacity: 1;
    width: 350px;
}

.error-toastr-title {
    color: #f3472e;
    font-weight: 500;
    font-size: 14px;
}

.error-toastr-message {
    color: #555;
    font-size: 13px;
    margin-left: -32px;
    margin-top: 10px;
}

.info-toastr {
    background-color: #fff;
    background-position: 16px 14px;
    background-size: 19px;
    border: 1px solid #000;
    opacity: 1;
    width: 350px;
}

.info-toastr-title {
    color: #000;
    font-weight: 500;
    font-size: 14px;
}

.info-toastr-message {
    color: #555;
    font-size: 13px;
    margin-left: -32px;
    margin-top: 10px;
    margin-right: 79px;
    padding-right: 12px;
}
