// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Sign Up/Log In page.
// -----------------------------------------------------------------------------
.sign-up,
.log-in {
    border: 1px solid $color-gray-lightest;
    margin-top: 16px;
    padding: 16px;
}

.sign-up__heading,
.log-in__heading {
    font-size: 20px;
    font-weight: $base-font-weight;
    margin-bottom: 16px;
}

.sign-up__log-in,
.log-in__sign-up {
    font-size: 16px;
    margin-top: 24px;

    a {
        color: $color-gray-dark;
        font-weight: $base-font-weight;
        text-decoration: underline;
    }
}

.register {
    margin-bottom: 20px;
}

.register-user {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;

    &--left {
        margin-left: 10px;
    }

    &--active {
        color: $color-orange;
    }
}

.log-out {
    color: $color-gray-light;
    cursor: pointer;
    float: right;
    font-size: 12px;
    font-weight: 400;
    margin-top: 4px;
    text-decoration: underline;
    text-transform: capitalize;

    &:hover {
        color: $color-gray-dark;
        font-weight: $base-font-weight;
    }
}

@media only screen and (max-width: 768px) {
    .sign-up__heading,
    .log-in__heading {
        font-size: 18px;
    }
}
